In [ ]:
import pandas as pd

df = pd.read_csv("./classification.csv")

df.head()

In [ ]:
df[df["age"] > 20]

In [ ]:
# OR: df[(df["age"] > 20) | (df["age"] < 30)]
df[(df["age"] > 20) & (df["age"] < 30)] # AND

In [ ]:
df.drop([1, 3]).head()

In [ ]:
success = df[df["success"] == 1]
success.head()

In [ ]:
success.index

In [12]:
df.drop(success.index).head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
4  14.401919  16.770856      0.0
5  17.457907  21.765215      0.0