In [1]:
import pandas as pd

df = pd.read_csv("./classification.csv")

df.head()

         age   interest  success
0  23.657801  18.859917      0.0
1  22.573729  17.969223      0.0
2  32.553424  29.463651      0.0
3   6.718035  25.704665      1.0
4  14.401919  16.770856      0.0

In [2]:
df[df["age"] < 18].head()

          age   interest  success
3    6.718035  25.704665      1.0
4   14.401919  16.770856      0.0
5   17.457907  21.765215      0.0
8   15.128978  32.402677      0.0
11  16.791838  42.334823      0.0

In [ ]:
# df["age"] = 19
df.head()

In [5]:
import numpy as np

print(np.where([True, False], [1, 2], [3, 4]))
print(np.where([True, False], 1, 2))

[1 4]
[1 2]

In [6]:
df["age2"] = np.where(df["age"] < 18, "minderjährig", "volljährig")

In [7]:
df.head()

         age   interest  success          age2
0  23.657801  18.859917      0.0    volljährig
1  22.573729  17.969223      0.0    volljährig
2  32.553424  29.463651      0.0    volljährig
3   6.718035  25.704665      1.0  minderjährig
4  14.401919  16.770856      0.0  minderjährig

In [ ]:
df["interest"] = df["interest"] * 5

In [ ]:
df.head()