In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./classification.csv")
df["extra"] = np.random.normal(5, 16, len(df))

df.head()

         age   interest  success      extra
0  23.657801  18.859917      0.0   2.253219
1  22.573729  17.969223      0.0  37.402066
2  32.553424  29.463651      0.0   9.364302
3   6.718035  25.704665      1.0   4.279963
4  14.401919  16.770856      0.0   7.263567

In [2]:
df.cov()

                age    interest   success       extra
age       78.570491   27.806832  0.762027   20.118192
interest  27.806832  482.085576  8.285170  -15.274170
success    0.762027    8.285170  0.246064   -0.652108
extra     20.118192  -15.274170 -0.652108  251.987051

In [3]:
df.corr()

               age  interest   success     extra
age       1.000000  0.142876  0.173307  0.142978
interest  0.142876  1.000000  0.760703 -0.043823
success   0.173307  0.760703  1.000000 -0.082815
extra     0.142978 -0.043823 -0.082815  1.000000

In [4]:
x = [1, 2, 3, 4, 5, 6, 7]
y = [1, 1, 0, 0, 0, 1, 1]

In [5]:
np.cov(x, y)

array([[ 4.66666667e+00, -3.70074342e-17],
       [-3.70074342e-17,  2.85714286e-01]])

In [6]:
np.corrcoef(x, y)

array([[ 1.00000000e+00, -3.20493781e-17],
       [-3.20493781e-17,  1.00000000e+00]])